html {
  font-size: 16px;
}

body {
  background-color: #fff;
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
  overflow: hidden;
}

.titlewrap {
  position: relative;
  width: 0;
  margin: auto;
  margin-top: 30vh;
  white-space: nowrap;
}

#title {
  margin: 0;
  font-size: 5rem;
  color: #444;
  width: 0;
  overflow: hidden;
}

#title img {
  float: left;
  width: 6rem;
  height: 6rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.titlewrap span {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #9ab;
  width: 0.3rem;
  height: 0%;
  transform: rotate(10deg);
  opacity: 0;
}

.right {
  right: -3px;
}

.left {
  left: -3px;
}

#tagline {
  font-size: 1.8rem;
  color: #777;
  margin: 0;
  margin-left: 7.5rem;
  overflow: hidden;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  width: 0;
  margin: auto;
  margin-top: 1.5rem;
  border-top: #9ab solid 0.3rem;
}

.navitem {
  display: inline-block;
  flex: 1 1;
  color: #777;
  padding: 0.7rem 2rem;
  border: 0;
  background: none;
  box-shadow: none;
  font-size: 1.6rem;
  font-family: inherit;
  opacity: 0;
}

.navitem:hover {
  background-color: #eee;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  right: -50vw;
  left: -50vw;
  bottom: 0;
  height: 0;
  width: 0;
  margin: auto;
  background-color: #eee;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .nav {
    flex-wrap: wrap;
  }
  .navitem {
    display: block;
    width: 100%;
    flex: none;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 770px) {
  html {
    font-size: 12px;
  }
  #tagline {
    font-size: 2rem;
  }
  .navitem {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}
